html, body {
  background-color:#e69900;
  font-family: $font-family-body;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  text-align: center;
  height: 100vh;
  @media #{$tablet-only} {
    font-size: 15px;
  }
  @media #{$mobile-landscape-only} {
    font-size: 14px;
  }
  @media #{$mobile-only} {
    font-size: 13px;
  }
}

h1 {
  margin-top: 20px;
}

.card {
  width: 18rem;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  position:relative;
  background-color:#fff7e6;
}

form {
  display: inline-block;
  margin: 1px;
}


button {
background-color:  #ffe6b3;
font-color:black;
margin:10px;
border-radius:10%;
 }



img {
  display: inline-block;
  max-width: 300px;
  max-height: 300px;
}


.table{
	background-color:#fff7e6;
}









.income-item {

	margin: 20px;
	padding:10px;
}